<a href="https://colab.research.google.com/github/srivatsan88/YouTubeLI/blob/master/K_Prototype_for_Mixed_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kmodes   #only for categorical data

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/b2/55/d8ec1ae1f7e1e202a8a4184c6852a3ee993b202b0459672c699d0ac18fc8/kmodes-0.10.2-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.18.2)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.14.1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.4.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.10.2

In [0]:
import numpy as np
import pandas as pd

from kmodes.kprototypes import KPrototypes # KPrototypes use for clustering for both categorical and continous data

In [0]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/marketing_cva_f.csv')

In [4]:
marketing_df

     Customer       State  ...  Vehicle_Class avg_vehicle_age
0     BU79786  Washington  ...   Two-Door Car       40.696695
1     AI49188      Nevada  ...   Two-Door Car       48.755298
2     HB64268  Washington  ...  Four-Door Car       70.394474
3     OC83172      Oregon  ...   Two-Door Car       53.460212
4     XZ87318      Oregon  ...  Four-Door Car       32.811507
...       ...         ...  ...            ...             ...
6812  TF56202  California  ...   Two-Door Car       37.492591
6813  YM19146  California  ...  Four-Door Car       48.946675
6814  LA72316  California  ...  Four-Door Car       65.310053
6815  PK87824  California  ...  Four-Door Car       48.002914
6816  UP19263  California  ...  Four-Door Car       45.151858

[6817 rows x 12 columns]

In [0]:
marketing_df=marketing_df.drop(['Customer','Vehicle_Class','avg_vehicle_age','months_last_claim','Total_Claim_Amount'],axis=1)

In [6]:
marketing_df

           State           CLV  ... monthly_premium  Months_Since_Policy_Inception
0     Washington   2763.519279  ...              69                              5
1         Nevada  12887.431650  ...             108                             38
2     Washington   2813.692575  ...              73                             44
3         Oregon   8256.297800  ...              69                             94
4         Oregon   5380.898636  ...              67                             13
...          ...           ...  ...             ...                            ...
6812  California   5032.165498  ...              64                             48
6813  California   4100.398533  ...             104                             58
6814  California  23405.987980  ...              73                             89
6815  California   3096.511217  ...              79                             28
6816  California   7524.442436  ...              96                              3

[6817 rows x 7 columns]

In [0]:
mark_array=marketing_df.values

In [0]:
mark_array[:, 1] = mark_array[:, 1].astype(float) #float tell continous data
mark_array[:, 3] = mark_array[:, 3].astype(float)
mark_array[:, 5] = mark_array[:, 5].astype(float)
mark_array[:, 6] = mark_array[:, 6].astype(float)

In [9]:
mark_array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 69.0, 5.0],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 108.0, 38.0],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 73.0, 44.0],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 73.0, 89.0],
       ['California', 3096.511217, 'Extended', ..., 'Suburban', 79.0,
        28.0],
       ['California', 7524.442436, 'Extended', ..., 'Suburban', 96.0,
        3.0]], dtype=object)

In [10]:
kproto = KPrototypes(n_clusters=3, verbose=2,max_iter=20)  #3 cluster,20 iteration 
#continous data then take mean,cateogrical data then take mode
clusters = kproto.fit_predict(mark_array, categorical=[0, 2, 4])  #tellimg categorical index col

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 857, ncost: 803794227048.1324
Run: 1, iteration: 2/20, moves: 321, ncost: 789912988404.4515
Run: 1, iteration: 3/20, moves: 146, ncost: 787009763030.9556
Run: 1, iteration: 4/20, moves: 80, ncost: 786089847380.3973
Run: 1, iteration: 5/20, moves: 41, ncost: 785847670289.5077
Run: 1, iteration: 6/20, moves: 36, ncost: 785682196859.6218
Run: 1, iteration: 7/20, moves: 12, ncost: 785652773397.5132
Run: 1, iteration: 8/20, moves: 16, ncost: 785609292387.8527
Run: 1, iteration: 9/20, moves: 13, ncost: 785587014534.5712
Run: 1, iteration: 10/20, moves: 6, ncost: 785580196116.0236
Run: 1, iteration: 11/20, moves: 4, ncost: 785577307058.1285
Run: 1, iteration: 12/20, moves: 4, ncost: 785574087818.5051
Run: 1, iteration: 13/20, moves: 3, ncost: 785572843787.3956
Run: 1, iteration: 14/20, moves: 0, ncost: 785572843787.3956
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 1186, ncost: 808600460084.7012
Run: 2, iteration: 2/20, moves: 336, ncost: 792101072060.2148
Run: 2, iteration: 3/20, moves: 182, ncost: 787875276125.4069
Run: 2, iteration: 4/20, moves: 106, ncost: 786426844156.4156
Run: 2, iteration: 5/20, moves: 74, ncost: 785733314562.7207
Run: 2, iteration: 6/20, moves: 38, ncost: 785571996335.9272
Run: 2, iteration: 7/20, moves: 11, ncost: 785552822475.9587
Run: 2, iteration: 8/20, moves: 6, ncost: 785548092552.7048
Run: 2, iteration: 9/20, moves: 4, ncost: 785545634415.1555
Run: 2, iteration: 10/20, moves: 0, ncost: 785545634415.1555
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 1134, ncost: 787184129119.3729
Run: 3, iteration: 2/20, moves: 186, ncost: 785628604791.8376
Run: 3, iteration: 3/20, moves: 32, ncost: 785578000470.1769
Run: 3, iteration: 4/20, moves: 5, ncost: 785573394062.7805
Run: 3, iteration: 5/20, moves: 2, ncost: 785572843787.3961
Run: 3, iteration: 6/20, moves: 0, ncost: 785572843787.3961
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 537, ncost: 1198807318103.4578
Run: 4, iteration: 2/20, moves: 209, ncost: 1190187762029.5505
Run: 4, iteration: 3/20, moves: 99, ncost: 1188115400557.1091
Run: 4, iteration: 4/20, moves: 74, ncost: 1186334739206.2852
Run: 4, iteration: 5/20, moves: 167, ncost: 1150161600044.218
Run: 4, iteration: 6/20, moves: 1321, ncost: 828484253790.6154
Run: 4, iteration: 7/20, moves: 628, ncost: 792611911380.7607
Run: 4, iteration: 8/20, moves: 190, ncost: 787899460152.36
Run: 4, iteration: 9/20, moves: 107, ncost: 786426844156.4155
Run: 4, iteration: 10/20, moves: 74, ncost: 785733314562.7208
Run: 4, iteration: 11/20, moves: 38, ncost: 785571996335.9275
Run: 4, iteration: 12/20, moves: 11, ncost: 785552822475.9586
Run: 4, iteration: 13/20, moves: 6, ncost: 785548092552.705
Run: 4, iteration: 14/20, moves: 4, ncost: 785545634415.1553
Run: 4, iteration: 15/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 952, ncost: 788037639066.0199
Run: 5, iteration: 2/20, moves: 160, ncost: 786034693773.182
Run: 5, iteration: 3/20, moves: 48, ncost: 785757784452.1655
Run: 5, iteration: 4/20, moves: 26, ncost: 785671819777.994
Run: 5, iteration: 5/20, moves: 12, ncost: 785637328531.6132
Run: 5, iteration: 6/20, moves: 21, ncost: 785592464242.3942
Run: 5, iteration: 7/20, moves: 9, ncost: 785580196116.0237
Run: 5, iteration: 8/20, moves: 4, ncost: 785577307058.1285
Run: 5, iteration: 9/20, moves: 4, ncost: 785574087818.5054
Run: 5, iteration: 10/20, moves: 3, ncost: 785572843787.3959
Run: 5, iteration: 11/20, moves: 0, ncost: 785572843787.3959
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 2015, ncost: 790559415597.4252
Run: 6, iteration: 2/20, moves: 241, ncost: 786634968880.6144
Run: 6, iteration: 3/20, moves: 74, ncost: 785860113281.8756
Run: 6, iteration: 4/20, moves: 47, ncost: 785603834250.7023
Run: 6, iteration: 5/20, moves: 17, ncost: 785557453367.9037
Run: 6, iteration: 6/20, moves: 7, ncost: 785550664653.3423
Run: 6, iteration: 7/20, moves: 7, ncost: 785545634415.1553
Run: 6, iteration: 8/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 1409, ncost: 1018223796917.7017
Run: 7, iteration: 2/20, moves: 1157, ncost: 882538768718.749
Run: 7, iteration: 3/20, moves: 686, ncost: 822968862534.483
Run: 7, iteration: 4/20, moves: 448, ncost: 797893276517.6384
Run: 7, iteration: 5/20, moves: 257, ncost: 789817102746.243
Run: 7, iteration: 6/20, moves: 142, ncost: 787191295336.9492
Run: 7, iteration: 7/20, moves: 88, ncost: 786118951908.8771
Run: 7, iteration: 8/20, moves: 65, ncost: 785639281247.7823
Run: 7, iteration: 9/20, moves: 22, ncost: 785566620155.1418
Run: 7, iteration: 10/20, moves: 10, ncost: 785551468522.3027
Run: 7, iteration: 11/20, moves: 6, ncost: 785546422486.7772
Run: 7, iteration: 12/20, moves: 2, ncost: 785545634415.1554
Run: 7, iteration: 13/20, moves: 0, ncost: 785545634415.1554
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 688, ncost: 809763375671.0121
Run: 8, iteration: 2/20, moves: 371, ncost: 792040022702.0885
Run: 8, iteration: 3/20, moves: 191, ncost: 787344945290.7024
Run: 8, iteration: 4/20, moves: 88, ncost: 786229887227.4231
Run: 8, iteration: 5/20, moves: 52, ncost: 785885334985.7844
Run: 8, iteration: 6/20, moves: 39, ncost: 785690810985.0094
Run: 8, iteration: 7/20, moves: 15, ncost: 785652773397.5131
Run: 8, iteration: 8/20, moves: 16, ncost: 785609292387.8528
Run: 8, iteration: 9/20, moves: 13, ncost: 785587014534.5712
Run: 8, iteration: 10/20, moves: 6, ncost: 785580196116.0239
Run: 8, iteration: 11/20, moves: 4, ncost: 785577307058.1284
Run: 8, iteration: 12/20, moves: 4, ncost: 785574087818.505
Run: 8, iteration: 13/20, moves: 3, ncost: 785572843787.3959
Run: 8, iteration: 14/20, moves: 0, ncost: 785572843787.3959
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 1162, ncost: 904525308590.6763
Run: 9, iteration: 2/20, moves: 772, ncost: 821705332492.1322
Run: 9, iteration: 3/20, moves: 430, ncost: 797611399002.8949
Run: 9, iteration: 4/20, moves: 252, ncost: 788749990349.2878
Run: 9, iteration: 5/20, moves: 117, ncost: 786747748687.8849
Run: 9, iteration: 6/20, moves: 69, ncost: 786029124875.124
Run: 9, iteration: 7/20, moves: 51, ncost: 785740155958.5568
Run: 9, iteration: 8/20, moves: 28, ncost: 785655117685.7759
Run: 9, iteration: 9/20, moves: 15, ncost: 785613961116.1897
Run: 9, iteration: 10/20, moves: 15, ncost: 785587014534.5713
Run: 9, iteration: 11/20, moves: 6, ncost: 785580196116.0239
Run: 9, iteration: 12/20, moves: 4, ncost: 785577307058.1284
Run: 9, iteration: 13/20, moves: 4, ncost: 785574087818.5051
Run: 9, iteration: 14/20, moves: 3, ncost: 785572843787.3961
Run: 9, iteration: 15/20, moves: 0, ncost: 785572843787.3961
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 633, ncost: 816597394356.6805
Run: 10, iteration: 2/20, moves: 389, ncost: 795918920541.1123
Run: 10, iteration: 3/20, moves: 238, ncost: 788223869349.1787
Run: 10, iteration: 4/20, moves: 97, ncost: 786712261640.0184
Run: 10, iteration: 5/20, moves: 68, ncost: 786018749473.7969
Run: 10, iteration: 6/20, moves: 49, ncost: 785740155958.5566
Run: 10, iteration: 7/20, moves: 28, ncost: 785655117685.776
Run: 10, iteration: 8/20, moves: 15, ncost: 785613961116.1897
Run: 10, iteration: 9/20, moves: 15, ncost: 785587014534.571
Run: 10, iteration: 10/20, moves: 6, ncost: 785580196116.0237
Run: 10, iteration: 11/20, moves: 4, ncost: 785577307058.1285
Run: 10, iteration: 12/20, moves: 4, ncost: 785574087818.5051
Run: 10, iteration: 13/20, moves: 3, ncost: 785572843787.3959
Run: 10, iteration: 14/20, moves: 0, ncost: 785572843787.3959
Best run was number 4

In [19]:
print(kproto.cluster_centroids_)

[array([[8.03295458e+03, 2.66208754e+04, 9.26217544e+01, 4.69445614e+01],
       [8.33216831e+03, 5.46449257e+04, 9.51337668e+01, 4.91597771e+01],
       [8.04338174e+03, 8.29341174e+04, 9.09228225e+01, 4.76527012e+01]]), array([['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Rural']], dtype='<U10')]

In [0]:
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

In [21]:
cluster_dict

[1,
 1,
 1,
 1,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 1,
 1,
 2,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 ...]

In [0]:
marketing_df['cluster']=cluster_dict #assign

In [23]:
marketing_df

           State           CLV  ... Months_Since_Policy_Inception  cluster
0     Washington   2763.519279  ...                             5        1
1         Nevada  12887.431650  ...                            38        1
2     Washington   2813.692575  ...                            44        1
3         Oregon   8256.297800  ...                            94        1
4         Oregon   5380.898636  ...                            13        1
...          ...           ...  ...                           ...      ...
6812  California   5032.165498  ...                            48        1
6813  California   4100.398533  ...                            58        1
6814  California  23405.987980  ...                            89        2
6815  California   3096.511217  ...                            28        0
6816  California   7524.442436  ...                             3        0

[6817 rows x 8 columns]

In [24]:
marketing_df[marketing_df['cluster']== 0].head(10) #cluster 0

         State           CLV  ... Months_Since_Policy_Inception  cluster
5       Oregon  24127.504020  ...                             3        0
6       Oregon   7388.178085  ...                             7        0
10      Oregon   7463.139377  ...                            50        0
11      Nevada   2566.867823  ...                             7        0
12  California   3945.241604  ...                            59        0
16  Washington   3041.791561  ...                            49        0
17     Arizona  24127.504020  ...                             3        0
18  California   2392.107890  ...                            91        0
20  Washington   5346.916576  ...                            64        0
23     Arizona   2454.583540  ...                             6        0

[10 rows x 8 columns]

In [25]:
marketing_df[marketing_df['cluster']== 1].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
0   Washington   2763.519279  ...                             5        1
1       Nevada  12887.431650  ...                            38        1
2   Washington   2813.692575  ...                            44        1
3       Oregon   8256.297800  ...                            94        1
4       Oregon   5380.898636  ...                            13        1
13      Oregon   5710.333115  ...                             1        1
14  California   8162.617053  ...                            21        1
15      Oregon   2872.051273  ...                            21        1
24      Nevada  18975.456110  ...                            14        1
25  Washington   5018.885233  ...                            17        1

[10 rows x 8 columns]

In [18]:
marketing_df[marketing_df['cluster']== 2].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
7   California   8798.797003  ...                            82        2
8      Arizona   8819.018934  ...                            25        2
9   California   5384.431665  ...                            10        2
19      Oregon   5802.065978  ...                             1        2
21     Arizona  12902.560140  ...                            54        2
22      Oregon   3235.360468  ...                            44        2
27     Arizona   5744.229745  ...                            40        2
34  Washington   2443.665166  ...                            56        2
53      Oregon  22643.834780  ...                            12        2
56      Oregon   4974.801539  ...                            68        2

[10 rows x 8 columns]